.jumbotron{
    background-color: #017923;
    color: #F8FBF8;
}

.btn{
    background-color: #78e696;
    color: #F8FBF8;
} 

.footer {
    /* position: fixed;
    bottom: 0; */
    padding: 10px 10px 0 10px;
    background-color: #e2e4e3;
    color: #131713;
    margin-top: 10px;
    width: 100%;
} 
a{
    color: #131713;
}
a:hover{
    color: #3b4540;
}
.card-product{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-buy{
    width: 100%;
}

.oi {
    margin-right: 10px;
}